/.phpunit.cache

/public/build
/public/hot
/storage/*.key
/storage/pail
/vendor
/build

.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml

.idea/
*.iml
*.iws
*.ipr

.vscode/
*.code-workspace
.history/

.DS_Store
Thumbs.db
desktop.ini

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*
!.env.example

.kamal/secrets*

public/sitemap.xml

.claude
